body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Unbounded', cursive;
}
header{
    background: #bbbbbb;
    padding: 0 0 1em 0 ;

}
.fondo_logo{
    background: url(imagenes/fondo-estilo-comic-rojo-diseno-plano_23-2148797742.jpg);
    text-align: center;
    width: 100%;
}
.logo{
    width: 95%;
    position: relative;
    text-align: center;
}
.linea2{
    text-transform: uppercase;
    text-align:left;
    position: relative;
}
.lista1{
    text-align: left;
    font-weight: bold;
    margin: 20px 0 0 0 ;
}
.lista1 ul{
    position: relative;
    text-align: center;
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}
nav li{
    position: right ;
    display: inline;
    margin: 0 1em 0 5px;
    
}
.imagen_transparente{
    width: 2%;
    position: absolute;
}
.main{
    /*background: linear-gradient(#e06e6e, #948888);*/
    background: url("imagenes/istockphoto-1167979135-170667a.jpg");
}
.titulo{
    text-align: center;
    font-size: 30px;
    color: black;
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
}
.texto_introductorio{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
    text-align: left ;
    padding: 20px ;
    width: 50%;
    position: absolute;
}
.texto_introductorio p {
    margin: 2em;
}
.imagen_grande{
    width: 40%;
    margin: 20px;
    position: relative;
    padding: 0 0 1em 0;
    text-align: right;
    top: 2em;
    left: 50%;
}

.maps{
    margin: 20px 20px 20px 20px  ;
    padding: 2em 0 ;
    position: relative;
    text-align: center ;
}
.segunda{
    text-align: center;
}
.imagen_contenido{
    width: 50%;
    position: relative;
    margin: 2em;
    padding: 3em;
    left: 20%;
}
.imagen_inferior {
    width: 15%;
    margin: 20px;

}
footer {
    text-align: center;
    background: url(imagenes/bg.jpg);
}
.redes{
    background-color: antiquewhite;
    text-align: center;
    padding: 0 0 20px 0 ;
}
.imagenes_redes{
    width: 40px;
    margin: 5px;
    top: 10px;
    position: relative;
}
/*css de productos*/

.productos_descripcion{

}